In [20]:
import pandas as pd
path = "D:\Git\pyLab3_3sem\dataset\\test\\test_annotation.csv"

In [27]:
tmp = pd.read_csv(path, sep= ',')
test = pd.DataFrame(tmp.iloc[:,1])
test1 = pd.DataFrame({'test': tmp.iloc[1:,0]})
print(type(tmp))
print(type(test))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [25]:
print(tmp)

       D:\Git\pyLab3_3sem\000.jpg      dataset\test\000.jpg  test
0        D:\Git\pyLab3_3sem\1.jpg        dataset\test\1.jpg  test
1    D:\Git\pyLab3_3sem\10056.jpg    dataset\test\10056.jpg  test
2  D:\Git\pyLab3_3sem\test000.jpg  dataset\test\test000.jpg  test

In [24]:
test1

                             test
1    D:\Git\pyLab3_3sem\10056.jpg
2  D:\Git\pyLab3_3sem\test000.jpg

In [26]:
test

       dataset\test\000.jpg
0        dataset\test\1.jpg
1    dataset\test\10056.jpg
2  dataset\test\test000.jpg