In [117]:
import pandas as pd
import cv2

In [213]:
path1 = "dataset/zebra/zebra_annotation.csv"
path2 = "dataset/bay horse/bay horse_annotation.csv"
dfs = []
tmp = pd.read_csv(path1, sep=',', header=None)
dfs.append(tmp)
tmp = pd.read_csv(path2, sep=',', header=None)
dfs.append(tmp)
df = pd.concat(dfs)
df.drop(1, axis=1, inplace=True)
df.rename(columns={0: 'path', 2: 'img_class'}, inplace=True)

df['mark'] = (df['img_class'] != 'zebra')


def img_specs0(path):
    img = cv2.imread(path)
    # return img.shape[0]
    return img.shape[0]


def img_specs1(path):
    img = cv2.imread(path)
    # return img.shape[0]
    return img.shape[1]


def img_specs2(path):
    img = cv2.imread(path)
    # return img.shape[0]
    return img.shape[2]


def img_pixels(path: str) -> int:
    '''return characteristic of img '''
    img = cv2.imread(path)
    return img.size

In [214]:
df['height'] = df['path'].apply(img_specs0)
df['width'] = df['path'].apply(img_specs1)
df['channels'] = df['path'].apply(img_specs2)

In [215]:
df['pixel'] = df['path'].apply(img_pixels)

In [216]:
df

,path,img_class,mark,height,width,channels,pixel
0,D:\Git\pyLab3_3sem\dataset\zebra\0000.jpg,zebra,False,315,480,3,453600
1,D:\Git\pyLab3_3sem\dataset\zebra\0001.jpg,zebra,False,320,480,3,460800
2,D:\Git\pyLab3_3sem\dataset\zebra\0002.jpg,zebra,False,320,480,3,460800
3,D:\Git\pyLab3_3sem\dataset\zebra\0003.jpg,zebra,False,300,480,3,432000
4,D:\Git\pyLab3_3sem\dataset\zebra\0004.jpg,zebra,False,300,480,3,432000
...,...,...,...,...,...,...,...
1066,D:\Git\pyLab3_3sem\dataset\bay horse\1252.jpg,bay horse,True,320,480,3,460800
1067,D:\Git\pyLab3_3sem\dataset\bay horse\1253.jpg,bay horse,True,320,480,3,460800
1068,D:\Git\pyLab3_3sem\dataset\bay horse\1254.jpg,bay horse,True,320,432,3,414720
1069,D:\Git\pyLab3_3sem\dataset\bay horse\1255.jpg,bay horse,True,320,320,3,307200
1070,D:\Git\pyLab3_3sem\dataset\bay horse\1259.jpg,bay horse,True,270,480,3,388800